<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tneciv.zhihudaily">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.view.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".home.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tneciv.zhihudaily.home.view.MainActivity" />
        </activity>
        <activity
            android:name=".history.view.HistoryActivity"
            android:label="@string/HistoryDaily"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".theme.view.ThemeActivity"
            android:label="@string/allSections"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about.AboutActivity"
            android:label="Welcome"
            android:parentActivityName=".home.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tneciv.zhihudaily.home.view.MainActivity" />
        </activity>
        <activity
            android:name=".github.GithubActivity"
            android:label="@string/title_activity_opensource"
            android:parentActivityName=".home.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tneciv.zhihudaily.home.view.MainActivity" />
        </activity>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="f6ca063d703f8e69a7a6f501de3373fc" />

    </application>

</manifest>